body {
	background-color: aliceblue;
}

#food-drop {
	display: flex;
	
	width: calc(100%-2em);
	max-width: 100%;
	height: 200px;
	margin: 1em;
	padding: 1em;

	border: 1px dashed black;
	border-radius: 5px;
	
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
}

#food-img {
	width: calc(100%-2em);
	max-width: 100%;
	height: 200px;
	margin: 1em;
	padding: 1em;
}

#image-input {
	display: none;
}

.image_hover {
	background-color: darkgray;
}