body {
	background-color: aliceblue;
}

#foodDrop.maximize {
	width: calc(100%-2em);
	height: 200px;
	margin: 1em;
}

#foodDrop:not(.maximize) {
	width: 10%;
	height: 30%;
	margin-bottom: 1px;
}

#foodDrop {
	display: flex;
	
	max-width: 100%;

	border: 1px dashed black;
	border-radius: 5px;
	
	align-items: center;
	justify-content: center;
	
	cursor: pointer;
}

#foodImg {
	width: calc(100%-2em);
	max-width: 100%;
	height: 200px;
	margin: 1em;
	padding: 1em;
	display: inline;
	background-color: black;
}

#aiResponse {
	display: inline;
	position: relative;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: blue;
}

#imageInput {
	display: none;
}

#inputArea {
	position: absolute;
	bottom: 5%;
	left: 10px;
	right: 10px;
	height: 5em;
}

#inputArea textarea {
	width: calc(100% - 10px + 0.5em);
	height: calc(100% - 1em);
}

.image_hover {
	background-color: darkgray;
}

#optionsTable td, #optionsTable th {
	text-align: center;
}

#optionsTable td:first-child {
	font-weight: bold;
}

#optionsTable {
	border: solid black 1px;
	border-radius: 5px;
	padding: 5px;
}